# Ignore Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Ignore environment variable files
.env

# OS and IDE files
.DS_Store
*.log
*.swp
*.swo
.idea/
.vscode/
